<h1> CHEF SELECTION <h2>

<%= form_for @chef do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <select>
      <% @chef_images.each do |chef_image| %>
      <option value=<%= chef_image %>><%= chef_image %></option>
      <% end %>
    </select>
<% end %>

<%= button_to "Start Your Fight", ingredient_selection_path, method: :get %>
<%= button_to "Add Chef", chef_create_path, method: :get %>
<%= button_to "Edit Your Chef", chef_edit_path, method: :get %>