<div class="page_title">
    <h1> CHEF SELECTION <h2>
</div>
<% if @available_chefs.size >= 1 %>
<div class="container_page_options">
    <%= form_for(@chef, url: {action: "chef_selected"}, method: :post) do |f| %>
        <%= f.collection_select :id, @available_chefs, :id, :name %>
        <%= f.submit "Begin Game!" %>
    <% end %>
</div>
<br>

<div class="container_page_options">   
<%= button_to "Edit Your Chef", chef_edit_form_path, method: :get %>
<%= button_to "Delete A Chef", chef_delete_form_path, method: :get %>

</div>
<% end %>
<div class="container_page_options"> 
    <%= button_to "Add Chef", chef_create_form_path, method: :get %>
</div>