<div class="page_title">
    <h1> CREATE YOUR CHEF <h2>
</div>

<div class = "error_container">
    <% if @error_message != nil %>
        <div class="error_message">
            <%= @error_message %>
        </div>
        <br><br>
    <% end %>
</div>

<%= form_for(@chef, url: {action: 'chef_created'}, method: :post) do |f| %>
    
    <div class = "page_title">
    <h3> Pick Your Appearance! </h3>
    </div>

    <div class='container_chef_image_selection'>
        <% @chef_images.each do |img_name| %>
                <%= image_tag(img_name)%>
                <%= radio_button("chef", "image_name", img_name) %>  
                <br>
        <% end %>
    </div>
    <br>
    
    <div class="container_page_options">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.submit "Create Chef"%>
    </div>
<% end %>




