 <%= stylesheet_link_tag "application" %>

<div class="page_title">
    <h1> Make a Recipe! </h1>
</div>

<div class="container_chef_monster_img">
    <div class="img_caption">
        <%= image_tag @current_chef.gif_name%>
        <%= @current_chef.name %>
    </div>

    <div class="img_caption">
        <%= image_tag @current_monster.gif_name%>
        <%= @current_monster.name %>
    </div>
</div>

<%= form_with url: ingredients_picked_path do |form| %>
    <div class="container_ingredient_selection">
    <% @ingredients.each do |ingredient| %>  
        <div class="container_ingredient_option">
            <%= check_box_tag 'ingredient_ids[]', ingredient.id %>
            <%= image_tag(ingredient.image_name)%><br>
            <%= ingredient.name %>
        </div>
        <br>
    <% end %>    
    </div>
    <br>

    <div class="container_page_options">
        <%= form.submit "Feed The Monster!" %>
    </div>
<% end %>

<div class="container_page_options">
<%= button_to "Review Ingredients List", ingredients_list_path, method: 'get' %>
</div>