<h1> PICK YOUR INGREDIENTS </h1>

<%= image_tag 'placeholder', size: "450x450"%>
<%= image_tag 'placeholder', size: "450x450"%><br><br>

<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>
<%= image_tag 'placeholder', size: "100x100"%>

<%= button_to "Feed The Monster!", result_path, method: :get %>