<h1> Make a Recipe! </h1>

<%= image_tag @current_chef.image_name %>
<%= image_tag @current_monster.image_name %>

<%= form_with url: ingredients_picked_path do |form| %>
    <% @ingredients.each do |ingredient| %>
        <%= check_box_tag 'ingredient_ids[]', ingredient.id %>
        <%= image_tag(ingredient.image_name, size: "90x90")%>
        <%= ingredient.name %>
        <br>
    <% end %>
    <%= form.submit "Feed The Monster!" %>
<% end %>

<%= button_to "Review Ingredients List", ingredients_list_path, method: 'get' %>