<h1> PICK YOUR INGREDIENTS </h1>

<%= form_with url: ingredients_picked_path do |form| %>
    <% @ingredients.each do |ingredient| %>
        <%= check_box_tag 'ingredient_ids[]', ingredient.id %>
        <%= image_tag(ingredient.image_name)%>
        <%= ingredient.name %>
        <br>
    <% end %>
    <%= form.submit "Feed The Monster!" %>
<% end %>