<div class="page_title">
    <h1> ONE MORE SATISFIED CUSTOMER! </h1>
</div>

<div class="container_chef_monster_img">
<%= image_tag @current_chef.gif_name %>

<%= image_tag @current_monster.gif_name %>
</div>

<div class="page_content">
<p> The <%= @recipe_made.name %> you make stuffs <%= @current_monster.name %>! </p>
</div>

<%= audio_tag "success#{rand(1..10)}.mp3", autoplay: true %>

    <% if @won_game %>

        <div class="page_content"><p> Wow! What a day! You don't have any more customers! Nice work <%= @current_chef.name %>! </p></div>
        <div class="page_content"><%= button_to "Play Again!", chef_selection_form_path, method: 'get' %></div>
    <% else %>
        <div class="page_content"><p> <%= @current_monster.name %> leaves the restaurant happy! </p></div>
        <div class="page_content"><p> Oh but wait! You've got another customer! <%= @next_monster.name %> is ready to eat! </p></div>
        <div class="page_content"><%= image_tag @next_monster.image_name %></div>
        <div class="page_content"><%= button_to "Play Again!", ingredients_pick_form_path, method: 'get' %></div>
    <% end %>
</div>


