<h1> WIN PAGE <h2>

<h3> WHAT A SATISFYING MEAL! </h3>

<p> You create some <%= @recipe_made.name %> for the lil' bugger! </p>

<p> <%= @defeated_monster.name %> is stuffed! Nice work!</p>

<% if @won_game %>
    <p> Wow! What a day! You don't have any more customers! Nice work <%= @chef.name %>! </p>
    <%= button_to "Play Again!", chef_selection_form_path, method: 'get' %>
<% else %>
    <p> <%= @defeated_monster.name %> leaves the restaurant happy! </p>
    <p> Oh but wait! You've got another customer! <%= @next_monster.name %> is ready to eat! </p>
    <%= button_to "Play Again!", ingredients_pick_form_path, method: 'get' %>
<% end %>


