<!DOCTYPE html>
<html>
  
  <head>
    <title>FoodFight</title>
    
    <%= stylesheet_link_tag "application" %>

    <div class = "layout_title">
      <h1> Food Fight </h1>
    </div>

    <div class = "layout_navbar">
      <%=link_to "Home", home_menu_path%> 
      <%=link_to "Play Game", chef_selection_form_path%>
      <%=link_to "Instructions", instructions_path%> 
      <%=link_to "About", about_path%>
    </div>
  </head>

  <div class = "container">
    <body>
      <%= yield %>
    </body>
  <div>

  <div class = "layout_footer">
    <h3> Made By Shawn Huang Fernandes </h3>
  </div>
</html>
