<!DOCTYPE html>
<html>
  <head>
    <title>FoodFight</title>
    <h1> Food Fight </h1>
    <div>
      <%=link_to "Home", home_menu_path %> 
      <%=link_to "Play Game", play_transition_path %>
      <%=link_to "Instructions", instructions_path %> 
      <%=link_to "About", about_path %>
    </div>

  </head>

  <body>
    <%= yield %>
  </body>

  <h3> Made By Shawn Huang Fernandes </h3>
</html>
